* {
  color: black;
}
.FormInfoDisplayContainer {
  height: 70vh;
  margin: auto;
  box-sizing: border-box;
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: scroll;
  position: relative;
}

.TextConvo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.MyLabel {
  margin-left: 50%;
  font-size: 14px;
}
.MyText {
  list-style-type: none;
  color: black;
  background: rgb(0, 120, 254);
  /* background-attachment: fixed; */
  border-radius: 20px;
  padding: 8px 15px;
  margin-left: 50%;
  background-color: rgb(125, 86, 175);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.TheirLabel {
  margin-right: 45%;
  padding: 8px 15px;
  display: inline-block;
  align-items: flex-start;
  color: black;
}
.TheirText {
  margin-right: 45%;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  align-items: flex-start;
  background: #eee;
  font-weight: bold;
  letter-spacing: 0.5px;
}
